.events {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--blinding-black);
}

.events > h1 {
    margin: 44px 0 42px 0;
    font-size: 100px;
    line-height: 110%;
    align-self: center;
    color: #FFFFFF;
    text-shadow: 0px 3.30594px 24.7945px rgba(151, 71, 255, 0.25);
}

.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 21.07px 23.7037px 31.6049px;
    isolation: isolate;
    color: var(--witty-white);
    width: 300px;
    height: 400px;
    transform: scale(0.8);
    background: #9747ff;
    box-shadow: 0px 2.90233px 21.7675px rgba(151, 71, 255, 0.25), inset 0px -3.51166px 3.51166px rgba(238, 119, 139, 0.4),
        inset 0px 3.51166px 3.51166px rgba(255, 255, 255, 0.65), inset 0px 10.9739px 18.4362px rgba(255, 255, 255, 0.25);
    border-radius: 33.3608px;
}

.dateTimeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.datecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 14px;
    height: fit-content;
    background: #9747ff;
    box-shadow: 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25), inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4),
        inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65), inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px 8px;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}

.timecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 14px;
    height: fit-content;
    background: #9747ff;
    box-shadow: 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25), inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4),
        inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65), inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px 8px;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
}

.datecontainer .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    background: #b565ff;
    box-shadow: -7.14361px 0px 51.434px rgba(0, 0, 0, 0.25), 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25),
        inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4), inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65),
        inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px;
}

.HashHero .datecontainer .datenumbers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* height: 100%; */
    font-weight: 500;
}

.eventdata {
    display: flex;    
    flex-direction: column;
    text-align: center;
    margin: 10px 10px;
}

.eventname {
    font-size: 22px;
}

.eventevent {
    font-size: 20px;
}

.eventdescription {
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 14px;
}