.events {
    display: flex;
    flex-direction: column;
    height: max(100vh, 500px);
    background-color: var(--blinding-black);
    margin: 100px 0;
}

.events > .heading {
    flex: 1;
    margin: 44px 0 30px 0;
    height: 100%;
    align-self: center;
    color: #FFFFFF;
}

.events > .heading > h1 {
    line-height: 110%;
    text-shadow: 0px 3.30594px 24.7945px rgba(151, 71, 255, 0.25);
    font-size: 10vw;
}

.events > .carousel-wrapper {
    flex: 2;
    height: 100%;
    position: relative;
}

.events > .carousel-wrapper > div {
    height: 450px;
}

.eventCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21.07px 23.7037px 31.6049px;
    isolation: isolate;
    color: var(--witty-white);
    width: 300px;
    height: 450px;
    transform: scale(0.8);
    background: #7929E1;
    opacity: 0.7;
    box-shadow: 0px 2.19035px 16.4276px rgba(151, 71, 255, 0.25), inset 0px -2.65021px 2.65021px rgba(238, 119, 139, 0.4), inset 0px 2.65021px 2.65021px rgba(255, 255, 255, 0.65), inset 0px 8.28189px 13.9136px rgba(255, 255, 255, 0.25);
    border-radius: 33.3608px;
}

.eventImage {
    position: absolute;
    top:-10%;
    right: 0%;
    bottom: 90%;
    width: 300px;
    height: 300px;
    transform: scale(0.7);
}

.dateTimeContainer {
    margin-top: 165px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.datecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 14px;
    height: fit-content;
    background: #9747ff;
    box-shadow: 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25), inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4),
        inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65), inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px 8px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.7em;
}

.timecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    gap: 14px;
    height: fit-content;
    background: #9747ff;
    box-shadow: 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25), inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4),
        inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65), inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px 8px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.7em;
}

.datecontainer .date {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    background: #b565ff;
    box-shadow: -7.14361px 0px 51.434px rgba(0, 0, 0, 0.25), 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25),
        inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4), inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65),
        inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px;
}

.HashHero .datecontainer .datenumbers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* height: 100%; */
    font-weight: 500;
}

.eventdata {
    display: flex;    
    flex-direction: column;
    text-align: center;
    margin: 20px 10px 10px 10px;
}

.eventname {
    font-size: 1.5em;
}

.eventevent {
    font-size: 1.3em;
}

.eventdescription {
    margin-top: 10px;
    margin-bottom: 14px;
    text-align: left;
    font-size: 1em;
}

/* Center card styling */
.slick-slider .slick-slide.slick-center .eventCard  {
    background: #9747FF;
    opacity: 1;
    box-shadow: 0px 2.90233px 21.7675px rgba(151, 71, 255, 0.25), inset 0px -3.51166px 3.51166px rgba(238, 119, 139, 0.4), inset 0px 3.51166px 3.51166px rgba(255, 255, 255, 0.65), inset 0px 10.9739px 18.4362px rgba(255, 255, 255, 0.25);
}

@keyframes subtleBounce {
    0% {
        transform: translateY(0px) scale(0.7) rotate(-2deg);   
    }
    33% {
        transform: translateY(-10px) scale(0.72) rotate(2deg);   
    }
    66% {
        transform: translateY(5px) scale(0.72) rotate(2deg);   
    }
    100% {
        transform: translateY(0px) scale(0.7) rotate(-2deg);
    }
}

/* Center card image styling */
.slick-slider .slick-slide.slick-center .eventImage  {
    animation: subtleBounce 5s infinite linear;
}