.events {
    min-height: 100vh;
    background-color: var(--blinding-black);
}

.eventCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 21.07px 23.7037px 31.6049px;
    gap: 21.95px;
    isolation: isolate;

    position: absolute;
    width: 300px;
    height: 400px;

    background: #9747ff;
    box-shadow: 0px 2.90233px 21.7675px rgba(151, 71, 255, 0.25), inset 0px -3.51166px 3.51166px rgba(238, 119, 139, 0.4),
        inset 0px 3.51166px 3.51166px rgba(255, 255, 255, 0.65), inset 0px 10.9739px 18.4362px rgba(255, 255, 255, 0.25);
    border-radius: 33.3608px;
}
