.Hash .HashHero {
    background: url('./../../assets/images/HashHeroBG.png') var(--blinding-black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* max-height: 800px; */
    box-shadow: 0px -150px 100px var(--blinding-black) inset;
    position: relative;
}

.Hash .HashHero .logo {
    width: 80vw;
    /* max-width: 1400px; */
    min-width: 250px;
    filter: drop-shadow(0px 3.305936098098755px 24.79452133178711px #9747ff);
}

.Hash .HashHero {
    /* background-color: aquamarine; */
    padding: 50px 100px;
    color: var(--witty-white);
    /* min-height: 75vh; */
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    align-items: center;
    row-gap: 20px;
    /* background-color: var(--blasphemous-black); */
    /* justify-content: space-between; */
}

.Hash .HashHero .heroSectionA {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    width: 100%;
}

.Hash .HashHero .heroSectionB {
    display: block;
    width: 75%;
    transform: translateY(-40px);
    /* background-color: aquamarine; */
}

.Hash .HashHero .heroSectionB {
    mix-blend-mode: lighten;
}

.Hash .HashHero .heroSectionB img {
    width: 100%;
}

.Hash .HashHero .tagline {
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    filter: drop-shadow(0px 3.305936098098755px 10.79452133178711px #9747ff);
}

.Hash .HashHero .tagline .bold {
    font-weight: 600;
}

.Hash .HashHero .taglinecontainer {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

/* .Hash .HashHero .datecontainer {
    background-color: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(50px);
    border-radius: 0 10px 10px 0;
    padding: 10px 20px;
    border-left: 5px var(--youthful-yellow) solid;
} */

.Hash .HashHero .titlesponsor {
    font-family: 'coolvetica-rg';
    font-weight: 100;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-color: black;
    display: inline-block;
}

.Hash .HashHero .buttonContainer {
    display: flex;
    column-gap: 10px;
}

.Hash .HashHero .spacer {
    height: 75px;
}

.HashHero .datecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 16px;
    gap: 16px;
    height: fit-content;

    background: #9747ff;
    box-shadow: 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25), inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4),
        inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65), inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px 8px;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
}

.HashHero .datecontainer .date2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;

    background: #bf6fff;
    box-shadow: -7.14361px 0px 51.434px rgba(0, 0, 0, 0.25), 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25),
        inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4), inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65),
        inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px 8px 0px 0px;
}

.HashHero .datecontainer .date1:hover,
.HashHero .datecontainer .date2:hover {
    background-color: var(--witty-white);
    color: #9747ff;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.HashHero .datecontainer .date1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    background: #b565ff;
    box-shadow: -7.14361px 0px 51.434px rgba(0, 0, 0, 0.25), 0px 1.70855px 12.8141px rgba(151, 71, 255, 0.25),
        inset 0px -2.06725px 2.06725px rgba(238, 119, 139, 0.4), inset 0px 2.06725px 2.06725px rgba(255, 255, 255, 0.65),
        inset 0px 6.46015px 10.8531px rgba(255, 255, 255, 0.25);
    border-radius: 0px;
}

.HashHero .datecontainer .datenumbers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    /* height: 100%; */
    font-weight: 600;
}

.HashHero .dateSponsorSection {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.HashHero .logoDateSponsor {
    display: inline-flex;
    flex-direction: column;
}

.HashHero .sponsorLogo img {
    height: 50px;
    margin-left: -10px;
}

@media screen and (max-width: 768px) {
    .Hash .HashHero {
        /* background-color: aqua; */
        padding: 100px 50px;
        /* margin-top: 20vh; */
        flex-direction: column;
        box-shadow: 0px -350px 100px var(--blinding-black) inset;
    }

    .Hash .HashHero .buttonContainer {
        flex-direction: column;
    }

    .Hash .HashHero .datecontainer {
        font-size: 18px;
        padding: 0px 0px 0px 12px;
    }

    .Hash .HashHero .datecontainer .date1,
    .Hash .HashHero .datecontainer .date2 {
        padding: 10px;
    }
}

@media screen and (max-width: 425px) {
    .HashHero {
        padding: 50px 25px;
        flex-direction: column;
    }

    .Hash .HashHero .taglinecontainer {
        justify-content: space-between;
        flex-direction: column;
        row-gap: 30px;
        width: 100%;
    }
}
