.hashAbout {
    padding: 20px 100px;
    color: var(--witty-white);
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 20px;
    background-color: var(--blinding-black);
    /* justify-content: space-between; */
}

.hashAbout .subheading {
    letter-spacing: 0;
    font-weight: 100;
    line-height: 80%;
}

.hashAbout .description {
    font-weight: 100;
    letter-spacing: 0px;
    text-align: left;
    font-size: 2vw;
}

.titlesponsor {
    font-family: 'coolvetica-rg';
    font-weight: 100;
    letter-spacing: 0px;
    text-transform: uppercase;
    background-color: black;
    display: inline-block;
}

.buttonContainer {
    display: flex;
    column-gap: 10px;
}

.heroSectionA {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heroSectionB {
    position: relative;
    height: 500px;
    width: 100%;
}

.heroSectionB > .marqeeWrapper {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    gap: 40px;
    overflow: hidden;
}

.heroSectionB > .marqeeWrapper:before {
    content: '';
    z-index: 99;
    position: absolute;
    width: inherit;
    height: inherit;
    box-shadow: 
    inset 0px 28px 16px -20px var(--blinding-black),
    inset 0px -28px 16px -20px var(--blinding-black);
    -webkit-box-shadow: 
    inset 0px 48px 26px -20px var(--blinding-black),
    inset 0px -48px 16px -20px var(--blinding-black);
    -moz-box-shadow: 
    inset 0px 48px 16px -20px var(--blinding-black),
    inset 0px -48px 16px -20px var(--blinding-black);
}

.heroImageMarqeeCol1, .heroImageMarqeeCol2 {
    top: 0;
    position: relative;
    box-sizing: border-box;
}

.heroImageMarqeeCol1 {
    display: block;
    animation: marqueeUp 4s linear infinite;
}

.heroImageMarqeeCol2 {
    display: block;
    animation: marqueeDown 4s linear infinite;
}

/* Make it move! */
@keyframes marqueeUp {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

@keyframes marqueeDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

}

.heroImage {
    margin: 20% 0;    
    position: relative;
    padding: 2px;
    display: flex;
    width: 180px;
    height: 450px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(38, 38, 90, 0.2);
    background: linear-gradient(191.11deg, #F2509E 17.38%, #EE778B 21.95%, #6324EB 36.67%, #9747FF 53.27%, #3FCDEC 77.51%);
    box-shadow: 0px 4px 44px rgba(151, 71, 255, 0.2), inset 0px 4px 44px rgba(151, 71, 255, 0.4);
    border-radius: 1000px;
}

@media only screen and (max-width: 768px) {
    .hashAbout {
        padding: 0px 25px;
    }
    .heroSectionB {
        display: none;
    }
    .hashAbout > h2 {
        font-size: 12vw;
    }
    .hashAbout .subheading {
        font-size: 10vw;
    }
    .hashAbout .description {
        font-size: 5vw;
    }
}
@media only screen and (min-width: 768px) and (max-width: 889px) {
    .heroImageMarqeeCol1 {
        display: block;
    }
    .heroImageMarqeeCol2 {
        display: none;
    }
}

@media only screen and (min-width: 889px) {
    .heroImageMarqeeCol1, .heroImageMarqeeCol2 {
        display: block;
    } 
}

@media only screen and (min-width: 1200px) {
    .heroImageMarqeeCol1, .heroImageMarqeeCol2 {
        display: block;
    }
}
